{% extends 'base.html.twig' %}

{% block title %}Detalle de Organismo{% endblock %}
{% block body_centro %}
<h1>Detalle de Organismo</h1>


         

			<div class="card">
				<h5 class="card-header">
					{{ organismo.getOrgDescr() }}
				</h5>
				<div class="card-body">

				<div class="row">
					<div class="col-md-6">
						 
						<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#deps">
	 					 Dependencias <span class="badge badge-light">{{deps|length}}</span>
						</button>
					
						<ul class="list-group collapse" id="deps">
							{% for dep in deps %}
						 	 <li class="list-group-item" >
						 	 <a href="{{ path('dep_show', {'dep_id':  dep.dep_id }) }}">
						 	 {{ dep.dep_descr }}</a>
						 	 </li>
						  	{% endfor %}
						</ul>
					</div>
					<div class="col-md-6">
						 
						<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#usrs">
	 					 Usuarios <span class="badge badge-light">{{usrs|length}}</span>
						</button>
						<ul class="list-group collapse" id="usrs">
							{% for usr in usrs %}
						 	 <li class="list-group-item">
						 	 <a href="{{ path('usr_show', {'usr_id':  usr.usr_id }) }}">
						 	 {{ usr.usr_nombre }}
						 	 </li>
						  	{% endfor %}
						</ul>
					</div>
				</div>













				{#{ dump(deps) }#}




				 
				</div>
				<div class="card-footer">
					{{ organismo.getOrgMail()|default('') }}
				</div>
			</div>

{% endblock %}