{% extends 'base.html.twig' %}
{% block stylesheets %}

{{ parent() }}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" >

{% endblock %}
{% block title %}Listado de Organismos{% endblock %}
{% block body_centro %}
<h1>Listado de Organismos</h1>


                <table class="table" id="listado">
			  <thead>
			    <tr>
			      <th scope="col">ID</th>
			      <th scope="col">Descripcion</th>
			      <th scope="col">Correo</th>
			    </tr>
			  </thead>
			  <tbody>
			    
			    {% for org in organismos %}
                <tr>
			      <td><a href="{{ path('org_show', {'org_id': org.getOrgId()}) }}">{{ org.getOrgId() }}</a></td>
			      <td>{{ org.getOrgDescr() }}</td>
			      <td>{{ org.getOrgMail()|default('') }}</td>
			    </tr>
			    {% endfor %}
			  </tbody>
			</table>
            
        
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script>
$(document).ready(function() {
    $('#listado').DataTable();
} );
</script>
{% endblock %}