{#Datos Basicos de una Persona#}

{#    {{ dump(per) }}#}
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Datos Basicos
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Documento: {{ per.getTdo() }} {{ per.getPerNrodoc() }}</li>

            <li class="list-group-item">Nombre: {{ per.pfi.getPfiNom() }} {{ per.pfi.getPfiApe() }}</li>
            <li class="list-group-item">Fecha Nacimiento: {{ per.pfi.getPfiFecnac()|date("m/d/Y")  }} </li>
            <li class="list-group-item">Género: {{ per.pfi.getGenero() }} </li>
            <li class="list-group-item">Nacionalidad: {{ per.pfi.getNacionalidad() }} </li>

        </ul>
    </div>
