{#Listado de expedientes#}
{% extends 'base.html.twig' %}

{% block stylesheets %}

{{ parent() }}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" >

{% endblock %}
{% block title %}Listado de Legajos{% endblock %}
{% block body_centro %}
<h1>Listado de Legajos</h1>



              <table class="table" id="listado">
			  <thead>
			    <tr>
			      <th scope="col">ID</th>
			      <th scope="col">Caratula</th>
			      <th scope="col">Tipo de expediente</th>
				  <th scope="col">Estado</th>
				  <th scope="col">Estado Procesal</th>
			    </tr>
			  </thead>
			  <tbody>
			    
			    {% for exp in exps %}
                <tr>
			      <td><a href="{{ path('exp_show', {'exp_id': exp.getExpId()}) }}">{{ exp.getExpId() }}</a></td>
			      <td>{{ exp.getExpCarat() }}</td>
			      <td>{{ exp.getTexId.getTexDescr() }}</td>
			      <td>{{ exp.est.estdescr() }}</td>
			      <td>{{ exp.getEpr.getEstDescr() }}</td>
			    </tr>
			    {% endfor %}
			  </tbody>
			</table>
            
        
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script>
$(document).ready(function() {
    $('#listado').DataTable();
} );
</script>
{% endblock %}