{% extends 'base.html.twig' %}

{% block title %}Detalle de Dependencia{% endblock %}
{% block body_centro %}
<h1>Detalle de Dependencia</h1>


         

			<div class="card">
				<h5 class="card-header">
					{{ dep.getDepDescorta() }}
				</h5>
				<div class="card-body">
				{#{ dump(usuarios) }#}
					<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">
 					 Usuarios <span class="badge badge-light">{{usuarios|length}}</span>
					</button>
				
					<ul class="list-group collapse" id="demo">
						{% for usuario in usuarios %}
						<li class="list-group-item">	
					    <a href="{{ path('usr_show', {'usr_id':  usuario.usr_id }) }}">
						 	 {{ usuario.usr_nombre }}</a>
					    </li>
					  	{% endfor %}
					</ul>

				</div>
				<div class="card-footer">
					Pertenece al Organismo: {{ dep.getOrgId().getOrgDescr() }}
				</div>
			</div>

{% endblock %}

{% block javascripts %}

{{ parent() }}



{% endblock %}