{% extends 'base.html.twig' %}

{% block stylesheets %}

{{ parent() }}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" >

{% endblock %}
{% block title %}Listado de Dependencias{% endblock %}
{% block body_centro %}
<h1>Listado de Dependencias</h1>



              <table class="table" id="listado">
			  <thead>
			    <tr>
			      <th scope="col">ID</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">Organismo</th>
			      
			    </tr>
			  </thead>
			  <tbody>
			    
			    {% for dep in dependencias %}
                <tr>
			      <td><a href="{{ path('dep_show', {'dep_id': dep.getDepId()}) }}">{{ dep.getDepId() }}</a></td>
			      <td>{{ dep.getDepDescr() }}</td>
			      <td>{{ dep.getOrgId().getOrgDescr() }}</td>
			      
			    </tr>
			    {% endfor %}
			  </tbody>
			</table>
            
        
{% endblock %}

{% block javascripts %}

{{ parent() }}

<script>
$(document).ready(function() {
    $('#listado').DataTable();
} );
</script>




{% endblock %}