{% extends 'base.html.twig' %}

{% block title %}Detalle de Usuario{% endblock %}
{% block body_centro %}
<h1>Detalle de Usuario</h1>


         

			<div class="card">
				<h5 class="card-header">
					{{ usr.getUsrNombre() }}
				</h5>
				<div class="card-body">
				{#{ dump(usr.getGroups()) }#}
				<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">
 					 Dependencias <span class="badge badge-light">{{deps|length}}</span>
					</button>
				
					<ul class="list-group collapse" id="demo">
						{% for dep in deps %}

						<a href="{{ path('dep_show', {'dep_id':  dep.dep_id }) }}">
					  <li class="list-group-item">Dependencia:{{ dep.dep_descr}}, Organismo:{{ dep.org_descr}}</li>
					  	</a>
					  	{% endfor %}
					</ul>
				</div>
				<div class="card-footer">
					{{ usr.getUsrEmail()|default('') }}
				</div>
			</div>

{% endblock %}