						<ul class="nav">
							<li class="nav-item">
								<a class="nav-link" href="{{ path('org_list')}}">Organismos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('dep_list')}}">Dependencias</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('usr_list')}}">Usuarios</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('browser')}}">Navegador</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('correos_list')}}">Correos</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('request_list')}}">Alta Expedientes</a>
							</li>							
							<li class="nav-item">
								<a class="nav-link" href="{{ path('exp_list')}}">Listado de  Expedientes</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('exp_list_ajax')}}">Listado de  Expedientes AJAX</a>
							</li>
							<li class="nav-item dropdown ml-md-auto">
								<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Dropdown link</a>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
									<a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
									<div class="dropdown-divider">
									</div> <a class="dropdown-item" href="#">Separated link</a>
								</div>
							</li>
						</ul>