<div id="card-616889">
    <div class="card">
        <div class="card-header">
            <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-616889" href="#card-element-502583">Personas</a>
        </div>
        <div id="card-element-502583" class="collapse">
            <div class="card-body">
                Anim pariatur cliche...
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a class="card-link" data-toggle="collapse" data-parent="#card-616889" href="#card-element-909615">Legajos</a>
        </div>
        <div id="card-element-909615" class="collapse">
            <div class="card-body">
                <a class="nav-link" href="{{ path('exp_list')}}">Listado de  Expedientes</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-616889" href="#card-element-502584">Actuaciones</a>
        </div>
        <div id="card-element-502584" class="collapse">
            <div class="card-body">
                Anim pariatur cliche...
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-616889" href="#card-element-502585">Movimientos</a>
        </div>
        <div id="card-element-502585" class="collapse">
            <div class="card-body">
                Anim pariatur cliche...
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-616889" href="#card-element-502586">Informes</a>
        </div>
        <div id="card-element-502586" class="collapse">
            <div class="card-body">
                Anim pariatur cliche...
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a class="card-link collapsed" data-toggle="collapse" data-parent="#card-616889" href="#card-element-502587">Administración</a>
        </div>
        <div id="card-element-502587" class="collapse show">
            <div class="card-body">
                <a class="nav-link" href="{{ path('org_list')}}">Organismos</a>
                <a class="nav-link" href="{{ path('dep_list')}}">Dependencias</a>
                <a class="nav-link" href="{{ path('usr_list')}}">Usuarios</a>
                <a class="nav-link" href="{{ path('tex_list')}}">Tipos de Legajos</a>
            </div>
        </div>
    </div>
</div>